@model SacramentPlanner.Models.Meeting

@{
    ViewData["Title"] = "Sacrament Meeting Program";
}

<h2>Sacrament Meeting Program</h2>
<h3>@Html.DisplayFor(model => model.Date)</h3>

<div>
    <hr />
    <dl class="program-list">
        <dt>
            @Html.DisplayNameFor(model => model.ConductingLeader)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ConductingLeader)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.OpeningHymn)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.OpeningHymn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OpeningPrayer)
        </dt>
        <dd >
            @Html.DisplayFor(model => model.OpeningPrayer)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SacramentHymn)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SacramentHymn)
        </dd>
        </dl>
        <div style="text-align: center;"><hr />Administration of the Sacrament<hr /> </div>
        <dl class="program-list">
        
            @if (ViewData["before"] != null)
            {
                @foreach (Talk talk in ViewData["before"] as List<Talk>)
                {
                    <dt>Speaker</dt>
                    <dd>@talk.Member.FullName<br />
                       @talk.Subject
                       </dd>
                }
            }
        
       
        @if (Model.IntermediateHymn != "" && Model.IntermediateHymn != null)
        {
            <dt>
                @Html.DisplayNameFor(model => model.IntermediateHymn)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.IntermediateHymn)
            </dd>
        }

        @if (Model.MusicalNumber != "" && Model.MusicalNumber != null)
        {
            <dt>
                @Html.DisplayNameFor(model => model.MusicalNumber)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.MusicalNumber)
            </dd>
        }
        @if (ViewData["before"] != null)
        {
            @foreach (Talk talk in ViewData["after"] as List<Talk>)
            {
                <dt>Speaker</dt>
                <dd>
                @talk.Member.FullName
                <br />
                @talk.Subject
                </dd>
            }
        }
        <dt>
            @Html.DisplayNameFor(model => model.ClosingHymn)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ClosingHymn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClosingPrayer)
        </dt>
        <dd >
            @Html.DisplayFor(model => model.ClosingPrayer)
        </dd>
    </dl>
    <hr />
    <div class="horizontal-button-group">
        <a asp-action="Index">⮘ Back</a>
        <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a>
        <a asp-action="Delete" asp-route-id="@Model?.Id">Delete</a>
        
    </div>

</div>

