@model IEnumerable<SacramentPlanner.Models.Meeting>

@{
    ViewData["Title"] = "Meeting History";
}

<h2>Meeting History</h2>

<div class="horizontal-button-group">
    <a asp-action="Create">Create New</a>
</div>


<table class="meeting-list">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ConductingLeader)
            </th>
            @* <th>
                @Html.DisplayNameFor(model => model.OpeningHymn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SacramentHymn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClosingHymn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IntermediateHymn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MusicalNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OpeningPrayer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClosingPrayer)
            </th> *@
            <th>
                @Html.DisplayNameFor(model=>model.Talks)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr onclick="window.location='Meetings/Details/@item.Id';">
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ConductingLeader)
                </td>
                @* <td>
                    @Html.DisplayFor(modelItem => item.OpeningHymn)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SacramentHymn)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ClosingHymn)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IntermediateHymn)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MusicalNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OpeningPrayer)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ClosingPrayer)
                </td> *@
                <td>
                    <div>

                        @foreach (var talk in item.Talks)
                        {
                            <div>
                                <strong> @(talk.Member?.FirstName ?? "Unknown") @(talk.Member?.LastName ?? "") </strong> - @(talk.Subject ?? "No Subject")
                            </div>
                        }
                    </div>
                </td>
                @* <td>
                    <div class="horizontal-button-group">
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </div>
                </td> *@
            </tr>
        }
    </tbody>
</table>

